fastapi==0.141.1
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic
pydantic-settings
PyJWT[crypto]
pwdlib[argon2]
redis
python-multipart
email-validator
greenlet
cloudinary
python-multipart
stripe