fastapi==0.141.1
uvicorn[standard]

sqlalchemy
asyncpg
alembic

pydantic
pydantic-settings
email-validator

PyJWT[crypto]
pwdlib[argon2]

redis
greenlet

python-multipart

cloudinary
stripe
dateparser
icalendar
httpx

spacy==3.8.14

openai